{% extends 'base.html' %}

{% block header %}
    <h1>{{ test }}</h1>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Test info</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Description</td>
                        <td>{{ test.description }}</td>
                      </tr>
                      <tr>
                        <td>Num of questions</td>
                        <td>{{ test.questions_count }}</td>
                      </tr>
                      <tr>
                        <td>Num of runs</td>
                        <td>{{ test.results.count }}</td>
                      </tr>
                      <tr>
                        <td>Best result</td>
                        <td>{{ test.get_best_result }}</td>
                      </tr>
                      <tr>
                        <td>Last run</td>
                        <td>{{ test.get_last_run }}</td>
                      </tr>
                      <tr>
                        <td>Best user</td>
                        <td>{{ test.get_best_user }}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="col-sm">
                <div class="d-flex justify-content-center">
                    <img class="rounded-circle p-1 m-1" width="350" height="350"  src="{{ test.image.url }}">
                </div>

            <form action="{% url 'tests:result_create' test.uuid %}" method="post" class="d-flex justify-content-center mt-5 mb-5" >
                {% csrf_token %}
                <input type="submit" class="btn-lg btn-success" value="START ▶️">
            </form>

      <table class="table table-striped table-hover">
      <tr>
        <th>#</th>
        <th>Create date</th>
        <th>Write date</th>
        <th>User</th>
        <th>Points</th>
        <th>State</th>
        <th>Actions</th>
      </tr>
        {% for result in object_list %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ result.create_date }}</td>
                <td>{{ result.write_date }}</td>
                <td>{{ result.user }}</td>
                <td>{{ result.get_points }}</td>
                <td>{{ result.get_state_display }}</td>
                <td>
                    {% if result.state == result.STATE.NEW %}
                        <a href="{% url 'tests:result_update' test.uuid result.uuid %}" class="btn-lg btn-warning">CONTINUE</a>
                        <a href="{% url 'tests:result_delete' test.uuid result.uuid %}" class="btn-lg btn-danger">DELETE</a>
                    {% else %}
                        <a href="{% url 'tests:result_delete' test.uuid result.uuid %}" class="btn-lg btn-danger">DELETE</a>
                    {% endif %}
                </td>
              </tr>
        {% endfor %}
        </table>

        <div class="p-1 m-1">
            {% include 'includes/pagination.html' %}
        </div>

{#                {% if continue_flag %}#}
{#                    <div class="d-flex justify-content-center mt-5 mb-5" >#}
{#                            <a href="{% url 'tests:start' id=test.id %}" type="button" class="btn-lg btn-warning">CONTINUE ▶️</a>#}
{#                    </div>#}
{#                {% else %}#}
{#                    <div class="d-flex justify-content-center mt-5 mb-5" >#}
{#                        <a href="{% url 'tests:start' id=test.id %}" type="button" class="btn-lg btn-success">START ▶️</a>#}
{#                    </div>#}
{#                {% endif %}#}
            </div>
{##}
{#        <table class="table table-hover" style="width:100%">#}
{#            <thead class="thead-dark">#}
{#            <tr>#}
{#                <th>#</th>#}
{#                <th>User</th>#}
{#                <th>Started</th>#}
{#                <th>Time spent</th>#}
{#                <th>Points</th>#}
{#            </tr>#}
{#            </thead>#}
{##}
{#            {% for result in test.test_results.all %}#}
{#            {% for result in test_results %}#}
{##}
{#                <tr>#}
{#                   <td>{{ forloop.counter}}</td>#}
{#                   <td>{{ result.user.username }}</td>#}
{#                   <td>{{ result.write_date }}</td>#}
{#                   <td>{{ result.time_spent }}</td>#}
{#                   <td>{{ result.points }}</td>#}
{#                </tr>#}
{##}
{#            {% endfor %}#}
{#        </table>#}

        </div>
    </div>

{% endblock %}
