{% extends 'base.html' %}
{% load static %}

{% block header %}
    <h1>Leaderboard</h1>
{% endblock %}

{% block content %}

<table class="table table-hover">
      <tr>
        <th>#</th>
        <th></th>
        <th>Full name</th>
        <th>Rating</th>
      </tr>

        {% for user in users %}

              <tr>
                <td>{{ forloop.counter }}</td>
                <td><img class="rounded-circle p-1 m-1" width="80" height="80"  src="{{ user.image.url }}"></td>
                <td>{{ user.get_full_name }}</td>
                <td>{{ user.rating }}</td>
              </tr>
        {% endfor %}

</table>


{% endblock %}
