{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block action %}
<h2>Logout page</h2>
{% endblock %}

{% block main %}
<!--<form method='post'>-->
<!--     {% csrf_token %}-->
<!--     {{ form|crispy }}-->
<!--      <input type="submit" value="Login">-->

<!--</form>-->
<!--    <a class="btn btn-light" href="{% url 'index' %}">Home</a>-->
{% endblock %}