{% extends 'base.html' %}

{% block action %}
    <h2>Password change</h2>
{% endblock %}

{% block main %}
{% load crispy_forms_tags %}
<form method='post'>
     {% csrf_token %}
     {{ form|crispy }}
      <input type="submit" value="Save">

</form>

{% endblock %}