{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block action %}
<h2>Account update</h2>
{% endblock %}

{% block content %}
<form method="post" enctype="multipart/form-data">
     {% csrf_token %}
    <div class="media">
        <div class="img-circle.vert">
            <img class="rounded-circle p-1 m-1" width="200" height="200" src="{{ user.image.url }}">
        </div>
        <div class="media-body p-3 m-3">
            <h2 class="account-heading">{{ user.username }}</h2>
            <h3 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h3>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>

     {{ form|crispy }}

     <input type="submit" value="Save">
</form>
<br>
<table class="table table-striped table-hover">
      <tr>
        <th>#</th>
        <th>Create date</th>
        <th>Write date</th>
        <th>Test</th>
        <th>Points</th>
        <th>State</th>
        <th>Actions</th>
      </tr>
        {% for result in object_list %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ result.create_date }}</td>
                <td>{{ result.write_date }}</td>
                <td>{{ result.test }}</td>
                <td>{{ result.get_points }}</td>
                <td>{{ result.get_state_display }}</td>
                <td>
                    {% if result.state == result.STATE.NEW %}
                        <a href="{% url 'tests:result_update' result.test.uuid result.uuid %}" class="btn-lg btn-warning">CONTINUE</a>
                        <a href="{% url 'tests:result_delete' result.test.uuid result.uuid %}" class="btn-lg btn-danger">DELETE</a>
                    {% else %}
                        <a href="{% url 'tests:result_delete' result.test.uuid result.uuid %}" class="btn-lg btn-danger">DELETE</a>
                    {% endif %}
                </td>
              </tr>
        {% endfor %}
        </table>

{% endblock %}