{% extends 'base.html' %}

{% block action %}
    <h2>Delete result:</h2>
{% endblock %}

{% block content %}

<form method='post'>
      {% csrf_token %}
      <h3>Do you really want to delete your result ?</h3>
      <input type="submit" class="btn btn-danger" value="Delete">
      <a href='{% url "tests:details" test_uuid %}' class="btn btn-light">Cancel</a>
</form>

{% endblock %}