{% extends 'base.html' %}
{% load static %}

{% block title %}Something went wrong :({% endblock title %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Error 400</h1>
            <p class="lead">Bad Request</p>
            <hr class="my-4">
            <p>Back to main page</p>
            <a class="btn btn-primary btn-lg" href="{% url 'index' %}" role="button">Home</a>
        </div>
    </div>
{% endblock content %}