{% load custom_tags %}

{% with correct_pct=result.num_correct_answers|div:result.test.questions_count|mult:100 incorrect_pct=result.num_incorrect_answers|div:result.test.questions_count|mult:100 %}
    <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: {{ correct_pct }}%" aria-valuenow="{{ correct_pct }}" aria-valuemin="0" aria-valuemax="100">{{result.num_correct_answers}}</div>
        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ incorrect_pct }}%" aria-valuenow="{{ incorrect_pct }}" aria-valuemin="0" aria-valuemax="100">{{result.num_incorrect_answers}}</div>
    </div>
{% endwith %}