{% load custom_tags %}

{% with question.order_number|add:-1|div:question.test.questions_count|mult:100 as progress %}
{#{% with expr '((%1-1) / %2) * 100' question.order_number question.test.questions_count as progress %}#}
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{ progress }}%" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
{% endwith %}